@import "fonts.css";

html,
body {
	font-family: "Roboto", sans-serif;
	position: relative;
}

body * {
	margin: 0;
	padding: 0;
}

body.lock {
	overflow: hidden;
}

ul,
li {
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
}

// Header menu

.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	color: #ffffff;
	z-index: 2;
	padding: 20px 0;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(30, 30, 30, 0.945);
		z-index: 3;
	}

	.header__inner {
		display: flex;
		align-items: center;
	}

	.header__burger {
		display: none;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 10;

		span {
			content: "";
			display: block;
			position: absolute;
			top: 9px;
			left: 0;
			height: 2px;
			width: 100%;
			background: #fff;
		}

		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 2px;
			width: 100%;
			background: #fff;
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 18px;
			left: 0;
			height: 2px;
			width: 100%;
			background: #fff;
		}
	}

	.header__logo {
		position: relative;
		z-index: 10;

		img {
			width: 80px;
			height: auto;
		}
	}

	.header__menu {
		margin-left: auto;
		position: relative;
		z-index: 5;
	}

	.header__menu nav {
	}

	.header__menu nav ul {
		display: flex;
		justify-content: flex-end;
	}

	.header__menu nav ul li {
		font-weight: 400;
		white-space: nowrap;
		margin-right: 30px;
		font-size: 14px;

		a,
		a:active,
		a:visited {
			color: #fff;
		}
	}

	@media (max-width: 992px) {
		padding: 15px 0 10px;

		.header__inner {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.header__logo {
			img {
				width: 80px;
			}
		}

		.header__menu {
			margin-top: 15px;
		}
	}

	@media (max-width: 768px) {
		.header__burger {
			display: block;
		}

		.header__inner {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.header__menu {
			background-color: rgb(97, 86, 78);
			position: fixed;
			width: 100%;
			height: 100%;
			top: -100%;
			left: 0;
			padding-top: 50px;
			z-index: 2;
			overflow: auto;
			transition: ease 0.3s;
		}

		.header__menu.active {
			top: 0%;
		}

		.header__menu nav ul {
			display: flex;
			flex-wrap: wrap;
		}

		.header__menu nav ul li {
			width: 100%;
			padding: 5px 0 5px 10px;
			font-size: 25px;
		}
	}
}
//Wrapper body
.wrapper {
	min-height: 600px;
	height: 100vh;
	width: 100%;
	color: #fff;

	.wrapper__item {
		position: relative;
		height: 100%;
		width: 100%;

		background: url("/img/wrapper.jpg") no-repeat center;
		background-size: cover;
	}

	.wrapper__inner {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	.wrapper__body {
		text-align: center;
	}

	.wrapper__suptitle {
		font-family: "Roboto", sans-serif;
		font-size: 36px;
		font-weight: 500;
		margin-bottom: 15px;
	}

	.wrapper__title {
		font-family: "Roboto", sans-serif;
		font-size: 52px;
		font-weight: 500;
		margin-bottom: 18px;
	}

	.wrapper__text {
		font-family: "Roboto", sans-serif;
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		word-spacing: 2px;
		margin-bottom: 50px;
	}

	.wrapper__btn {
		background-color: #998675;
		padding: 16px 40px;
		text-transform: uppercase;
		color: #fff;
		font-size: 14px;
		font-weight: 700;
		border: none;
		border-radius: 5px;
	}

	.wrapper__btn:hover {
		cursor: pointer;
	}

	.slick-prev {
		position: absolute;
		top: 50%;
		left: 50px;
		z-index: 1;
		width: 50px;
		height: 80px;
		background: url("/img/left.png") 0 0 no-repeat;
	}

	.slick-next {
		position: absolute;
		top: 50%;
		right: 50px;
		z-index: 1;

		width: 50px;
		height: 80px;
		background: url("/img/right.png") 0 0 no-repeat;
	}

	.slick-arrow {
		border: none;
		font-size: 0;
	}

	.slick-list,
	.slick-slide,
	.slick-track {
		height: 100%;
		width: 100%;
	}

	@media (max-width: 992px) {
		.slick-prev,
		.slick-next {
			display: none !important;
		}

		.wrapper__title {
			font-size: 42px;
		}

		.wrapper__suptitle {
			font-size: 32px;
		}
	}

	@media (max-width: 768px) {

		.wrapper__title {
			font-size: 36px;
		}

		.wrapper__suptitle {
			font-size: 28px;
		}

	}

	
}

/* ---------Sevices--------- */

.services {
	position: relative;
	padding: 80px 0;

	.services__item {
		text-align: center;
	}

	&__icon {
		width: 50px;
		height: auto;
		margin: 0 auto;

		img {
			display: block;
		}
	}

	&__title {
		font-size: 21px;
		font-weight: 500;
		padding: 20px 0 12px 0;
	}

	.gold {
		color: #998675;
	}

	&__text {
		font-size: 14px;
		color: #8c8c8c;
		line-height: 24px;
		margin-bottom: 30px;
	}

	&__text::after {
		display: block;
		position: absolute;
		z-index: 1;

		width: 70px;
		height: 2px;

		background-color: #f1eee9;

		left: 50%;
		bottom: 0;

		transform: translateX(-50%);

		content: "";
	}

	@media (max-width: 992px) {
		.services__item {
			margin-top: 20px;
		}
	}
}

.col-xl-3:nth-child(2) .services__text::after {
	background-color: #998675;
}

/*----------Ideas-----------*/

.ideas {
	background-color: #fbfaf8;
	text-align: center;
	position: relative;

	&__title {
		color: #555555;
		font-size: 30px;
		margin: 0;
		padding: 80px 0 25px 0;
	}

	&__text {
		font-size: 16px;
		color: #8c8c8c;
		line-height: 24px;
		padding-bottom: 36px;
	}

	.ideas__imgs {
		position: relative;
		overflow: hidden;
		z-index: 1;
		display: flex;
		justify-content: center;

		.img__left,
		.img__right,
		.img__center {
			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}

		.img__center {
			width: 70%;
			z-index: 1;
		}

		.img__left {
			position: absolute;
			width: 70%;
			left: 0;
			bottom: 0;
		}

		.img__right {
			position: absolute;
			width: 70%;
			right: 0;
			bottom: 0;
		}
	}
}

/*------Purchase------*/

.purchase {
	background-color: #231c1a;
	padding: 45px 0;

	&__title {
		font-size: 26px;
		font-weight: 400;
		color: #fff;
		line-height: 1.9em;

		span {
			color: #c7b299;
		}
	}

	&__text {
		font-size: 16px;
		color: #615855;
	}

	button {
		font-size: 14px;
		border: none;
		border-radius: 2px;
		margin-top: 10px;
		color: #fff;
		padding: 13px 25px;
		background-color: #998675;
		text-transform: uppercase;
		font-weight: 500;
	}

	@media (max-width: 1200px) {
		text-align: center;

		button {
			margin-top: 20px;
			padding: 8px 20px;
		}
	}

	@media (max-width: 576px) {
		&__title {
			font-size: 18px;
		}

		&__text {
			font-size: 14px;
		}
	}
}

/*-------Projects------*/

.projects {
	text-align: center;
	padding: 80px;

	&__title {
		color: #555555;
		font-size: 30px;
		margin: 0;
		padding: 0px 0 25px 0;
		font-weight: 500;
	}

	&__text {
		font-size: 16px;
		color: #8c8c8c;
		line-height: 24px;
		padding-bottom: 20px;
	}

	&__links {
		padding-bottom: 35px;
		flex-wrap: wrap;
	}

	&__link {
		color: #8c8c8c;
		border: solid 1px #8c8c8c;
		border-radius: 3px;
		padding: 4px 18px;
		margin: 8px;
		font-size: 16px;
		transition: linear 0.1s;

		&.active {
			background-color: #998675;
			color: #fff;
		}
	}

	&__link:hover {
		cursor: pointer;
		color: #fff;
		background-color: #998675;
	}
}

.projects__cards {
	text-align: center;
	display: flex;
	justify-content: center;
}

.projects__card {
	width: 370px;
	margin-bottom: 30px;

	.card__img img {
		width: 100%;
		height: auto;
	}

	.card__info {
		position: relative;
		padding: 25px;
		text-align: left;
		background-color: #fbfaf8;
	}

	.card__info::after {
		position: absolute;
		content: "";
		display: block;
		top: 0;
		left: 20px;
		transform: translateY(-100%);
		width: 0;
		height: 0;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-bottom: 10px solid #fbfaf8;
	}

	.card__title {
		font-size: 20px;
		font-weight: 500;
		color: #c7b299;
		margin-bottom: 7px;
	}

	.card__text {
		font-size: 14px;
		font-weight: 500;
		color: #dddcdc;
	}
}

.projects__card:hover > .card__info {
	background-color: #362f2d;
}

.projects__card:hover > .card__info::after {
	border-bottom: 10px solid #362f2d;
}

.projects__card:hover .card__text {
	color: #998675;
}

.projects__card:hover .card__title {
	color: #fff;
}

.project__btn {
	margin-top: 10px;
	font-size: 14px;
	padding: 10px 35px 8px 35px;

	border: none;
	background-color: #998675;
	text-transform: uppercase;
	color: #fff;
}

.project__btn:hover {
	cursor: pointer;
}

.video {
	background: url("/img/video.png") no-repeat center;
	background-size: cover;

	padding: 200px 0;

	display: flex;
	justify-content: center;

	text-align: center;

	color: #fff;

	&__icon {
		position: relative;
		display: block;
		height: 110px;
	}

	&__icon img {
		display: block;
		width: 70px;
		height: auto;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		left: 50%;
		z-index: 100;
		// transform: translate(-50%, 50%);
	}

	&__icon::after {
		display: block;
		content: "";
		position: absolute;
		height: 100px;
		width: 100px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		opacity: 40%;
		z-index: 1;

		background-color: rgb(75, 75, 75);
	}

	&__title {
		padding: 50px 0 20px 0;
	}

	&__text {
		font-size: 14px;
		letter-spacing: 1px;
		font-weight: 200;

		margin-bottom: 30px;
	}

	&__time {
		color: #c7b299;
		font-size: 14px;
		font-weight: 500;
	}
}

.mobile {
	.mobile__inner {
		letter-spacing: 0.5px;
		padding-top: 80px;
	}

	&__phone {
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	&__title {
		font-size: 30px;
		font-weight: 700;
		padding-top: 120px;
		padding-bottom: 30px;
		color: #555555;
	}

	&__text {
		line-height: 1.8;
		color: #8c8c8c;
	}

	&__list {
		padding-top: 30px;
		color: #8c8c8c;
	}

	&__list li {
		font-size: 16px;
		padding: 5px 0;
		display: flex;
	}

	&__list li i {
		margin-right: 18px;
		font-size: 18px;
		color: #c7b299;
	}

	@media (max-width: 1200px) {
		&__title {
			font-size: 30px;
			font-weight: 700;
			padding-top: 0px;
			padding-bottom: 30px;
			color: #555555;
		}
	}

	@media (max-width: 992px) {
		.mobile__inner {
			padding-bottom: 80px;
		}

		&__phone {
			display: none;
		}
	}
}

.statistic {
	background-color: #2e221d;
	padding: 75px 0 70px 0;

	.row {
		display: flex;
		justify-content: center;
	}

	&__count {
		font-weight: 400;
		font-size: 45px;
		color: #fff;

		padding-top: 15px;
	}

	&__name {
		font-size: 14px;
		text-transform: uppercase;
		color: #c7b299;

		padding-bottom: 30px;
	}

	.statistic__item {
		text-align: center;
		margin-bottom: 30px;
	}
	.statistic__item::after {
		display: block;
		content: "";
		width: 30px;
		height: 2px;
		background-color: #fff;
		position: absolute;
		bottom: 30px;
		left: 50%;
		transform: translateX(-50%);
	}
}

.posts {
	text-align: center;
	padding-bottom: 80px;

	/*-------Slider-----*/

	.slick-list,
	.slick-slide,
	.slick-track {
		height: 100%;
		width: 100%;
	}

	.posts__box {
	}

	.posts__box .slick-prev {
		display: block;
		position: absolute;
		bottom: -20px;
		left: 50%;
		transform: translateX(-130%);
		z-index: 1;
		color: #c7b299;
		font-size: 22px;
	}

	.posts__box .slick-next {
		display: block;
		position: absolute;
		bottom: -20px;
		right: 50%;
		transform: translateX(130%);
		z-index: 1;
		color: #c7b299;
		font-size: 22px;
	}

	.slick-arrow {
		border: none;
		font-size: 0;
	}

	.post {
		text-align: left;
		position: relative;
		border: 1px solid #f8f8f8;
		margin-bottom: 30px;

		&__inner {
			padding: 30px;
		}

		&__img {
			width: 100%;
			height: auto;
		}

		&__title {
			font-size: 20px;
			color: #555555;
		}

		&__text {
			padding: 14px 0 16px 0;
			font-size: 14px;
			color: #8c8c8c;
		}

		&__btn a {
			font-size: 14px;
			color: #c7b299;
			vertical-align: middle;
		}

		&__btn i {
			vertical-align: middle;
			margin-left: 5px;
		}

		.post__date {
			width: 60px;

			text-align: center;
			position: absolute;
			top: 0;
			left: 15px;
			top: 15px;

			.date {
				border-radius: 5px 5px 0 0;
				font-size: 24px;
				color: #fff;
				background-color: #363636;
				padding: 4px;
			}

			.month {
				border-radius: 0 0 5px 5px;
				font-size: 12px;
				color: #fff;
				background-color: #252525;
				padding: 5px;
			}
		}
	}

	.post:hover .post__inner {
		background-color: #362f2d;
	}

	.post:hover .post__title {
		color: #c7b299;
		font-size: 20px;
	}

	.post:hover .post__text {
		color: #fff;
	}

	.post:hover .date {
		background-color: #c7b299;
	}

	.post:hover .month {
		background-color: #a48d72;
	}

	.posts__buttons {
	}
}

.logos {
	padding: 140px 0 110px 0;
	background: url("/img/logosbg.png") no-repeat center;
	background-size: cover;

	.logos__inner {
		justify-content: center;
	}

	.logos__item {
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			display: block;
			width: 60%;
			height: auto;
		}
	}

	@media (max-width: 1200px) {
		padding: 50px 0 50px 0;

		.logos__item {
			margin: 50px 0;

			img {
				display: block;
				width: 60%;
				height: auto;
			}
		}
	}

	@media (max-width: 992px) {
		padding: 40px 0 50px 0;

		.logos__item {
			margin: 50px 0;

			img {
				display: block;
				width: 80%;
				height: auto;
			}
		}
	}

	@media (max-width: 768px) {
		padding: 80px 0 50px 0;

		.logos__item {
			margin: 50px 0;

			img {
				display: block;
				width: 40%;
				height: auto;
			}
		}
	}
}

.footer {
	padding: 20px 0;
	background-color: #191919;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
}
