@import url(c:\Users\Admin\Desktop\Web projects\ecco\css\fonts.css);
html,
body {
  font-family: "Roboto", sans-serif;
  position: relative;
}

body * {
  margin: 0;
  padding: 0;
}

body.lock {
  overflow: hidden;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: #ffffff;
  z-index: 2;
  padding: 20px 0;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.945);
  z-index: 3;
}

.header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 10;
}

.header .header__burger span {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #fff;
}

.header .header__burger::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #fff;
}

.header .header__burger::after {
  content: "";
  display: block;
  position: absolute;
  top: 18px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #fff;
}

.header .header__logo {
  position: relative;
  z-index: 10;
}

.header .header__logo img {
  width: 80px;
  height: auto;
}

.header .header__menu {
  margin-left: auto;
  position: relative;
  z-index: 5;
}

.header .header__menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .header__menu nav ul li {
  font-weight: 400;
  white-space: nowrap;
  margin-right: 30px;
  font-size: 14px;
}

.header .header__menu nav ul li a,
.header .header__menu nav ul li a:active,
.header .header__menu nav ul li a:visited {
  color: #fff;
}

@media (max-width: 992px) {
  .header {
    padding: 15px 0 10px;
  }
  .header .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .header__logo img {
    width: 80px;
  }
  .header .header__menu {
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .header .header__burger {
    display: block;
  }
  .header .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .header__menu {
    background-color: #61564e;
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    padding-top: 50px;
    z-index: 2;
    overflow: auto;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
  }
  .header .header__menu.active {
    top: 0%;
  }
  .header .header__menu nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header .header__menu nav ul li {
    width: 100%;
    padding: 5px 0 5px 10px;
    font-size: 25px;
  }
}

.wrapper {
  min-height: 600px;
  height: 100vh;
  width: 100%;
  color: #fff;
}

.wrapper .wrapper__item {
  position: relative;
  height: 100%;
  width: 100%;
  background: url("./img/wrapper.jpg") no-repeat center;
  background-size: cover;
}

.wrapper .wrapper__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.wrapper .wrapper__body {
  text-align: center;
}

.wrapper .wrapper__suptitle {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 15px;
}

.wrapper .wrapper__title {
  font-family: "Roboto", sans-serif;
  font-size: 52px;
  font-weight: 500;
  margin-bottom: 18px;
}

.wrapper .wrapper__text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  word-spacing: 2px;
  margin-bottom: 50px;
}

.wrapper .wrapper__btn {
  background-color: #998675;
  padding: 16px 40px;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}

.wrapper .wrapper__btn:hover {
  cursor: pointer;
}

.wrapper .slick-prev {
  position: absolute;
  top: 50%;
  left: 50px;
  z-index: 1;
  width: 50px;
  height: 80px;
  background: url("./img/left.png") 0 0 no-repeat;
}

.wrapper .slick-next {
  position: absolute;
  top: 50%;
  right: 50px;
  z-index: 1;
  width: 50px;
  height: 80px;
  background: url("./img/right.png") 0 0 no-repeat;
}

.wrapper .slick-arrow {
  border: none;
  font-size: 0;
}

.wrapper .slick-list,
.wrapper .slick-slide,
.wrapper .slick-track {
  height: 100%;
  width: 100%;
}

@media (max-width: 992px) {
  .wrapper .slick-prev,
  .wrapper .slick-next {
    display: none !important;
  }
  .wrapper .wrapper__title {
    font-size: 42px;
  }
  .wrapper .wrapper__suptitle {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .wrapper .wrapper__title {
    font-size: 36px;
  }
  .wrapper .wrapper__suptitle {
    font-size: 28px;
  }
}

/* ---------Sevices--------- */
.services {
  position: relative;
  padding: 80px 0;
}

.services .services__item {
  text-align: center;
}

.services__icon {
  width: 50px;
  height: auto;
  margin: 0 auto;
}

.services__icon img {
  display: block;
}

.services__title {
  font-size: 21px;
  font-weight: 500;
  padding: 20px 0 12px 0;
}

.services .gold {
  color: #998675;
}

.services__text {
  font-size: 14px;
  color: #8c8c8c;
  line-height: 24px;
  margin-bottom: 30px;
}

.services__text::after {
  display: block;
  position: absolute;
  z-index: 1;
  width: 70px;
  height: 2px;
  background-color: #f1eee9;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
}

@media (max-width: 992px) {
  .services .services__item {
    margin-top: 20px;
  }
}

.col-xl-3:nth-child(2) .services__text::after {
  background-color: #998675;
}

/*----------Ideas-----------*/
.ideas {
  background-color: #fbfaf8;
  text-align: center;
  position: relative;
}

.ideas__title {
  color: #555555;
  font-size: 30px;
  margin: 0;
  padding: 80px 0 25px 0;
}

.ideas__text {
  font-size: 16px;
  color: #8c8c8c;
  line-height: 24px;
  padding-bottom: 36px;
}

.ideas .ideas__imgs {
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ideas .ideas__imgs .img__left img,
.ideas .ideas__imgs .img__right img,
.ideas .ideas__imgs .img__center img {
  display: block;
  width: 100%;
  height: auto;
}

.ideas .ideas__imgs .img__center {
  width: 70%;
  z-index: 1;
}

.ideas .ideas__imgs .img__left {
  position: absolute;
  width: 70%;
  left: 0;
  bottom: 0;
}

.ideas .ideas__imgs .img__right {
  position: absolute;
  width: 70%;
  right: 0;
  bottom: 0;
}

/*------Purchase------*/
.purchase {
  background-color: #231c1a;
  padding: 45px 0;
}

.purchase__title {
  font-size: 26px;
  font-weight: 400;
  color: #fff;
  line-height: 1.9em;
}

.purchase__title span {
  color: #c7b299;
}

.purchase__text {
  font-size: 16px;
  color: #615855;
}

.purchase button {
  font-size: 14px;
  border: none;
  border-radius: 2px;
  margin-top: 10px;
  color: #fff;
  padding: 13px 25px;
  background-color: #998675;
  text-transform: uppercase;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .purchase {
    text-align: center;
  }
  .purchase button {
    margin-top: 20px;
    padding: 8px 20px;
  }
}

@media (max-width: 576px) {
  .purchase__title {
    font-size: 18px;
  }
  .purchase__text {
    font-size: 14px;
  }
}

/*-------Projects------*/
.projects {
  text-align: center;
  padding: 80px;
}

.projects__title {
  color: #555555;
  font-size: 30px;
  margin: 0;
  padding: 0px 0 25px 0;
  font-weight: 500;
}

.projects__text {
  font-size: 16px;
  color: #8c8c8c;
  line-height: 24px;
  padding-bottom: 20px;
}

.projects__links {
  padding-bottom: 35px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects__link {
  color: #8c8c8c;
  border: solid 1px #8c8c8c;
  border-radius: 3px;
  padding: 4px 18px;
  margin: 8px;
  font-size: 16px;
  -webkit-transition: linear 0.1s;
  transition: linear 0.1s;
}

.projects__link.active {
  background-color: #998675;
  color: #fff;
}

.projects__link:hover {
  cursor: pointer;
  color: #fff;
  background-color: #998675;
}

.projects__cards {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__card {
  width: 370px;
  margin-bottom: 30px;
}

.projects__card .card__img img {
  width: 100%;
  height: auto;
}

.projects__card .card__info {
  position: relative;
  padding: 25px;
  text-align: left;
  background-color: #fbfaf8;
}

.projects__card .card__info::after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 20px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 10px solid #fbfaf8;
}

.projects__card .card__title {
  font-size: 20px;
  font-weight: 500;
  color: #c7b299;
  margin-bottom: 7px;
}

.projects__card .card__text {
  font-size: 14px;
  font-weight: 500;
  color: #dddcdc;
}

.projects__card:hover > .card__info {
  background-color: #362f2d;
}

.projects__card:hover > .card__info::after {
  border-bottom: 10px solid #362f2d;
}

.projects__card:hover .card__text {
  color: #998675;
}

.projects__card:hover .card__title {
  color: #fff;
}

.project__btn {
  margin-top: 10px;
  font-size: 14px;
  padding: 10px 35px 8px 35px;
  border: none;
  background-color: #998675;
  text-transform: uppercase;
  color: #fff;
}

.project__btn:hover {
  cursor: pointer;
}

.video {
  background: url("./img/video.png") no-repeat center;
  background-size: cover;
  padding: 200px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
}

.video__icon {
  position: relative;
  display: block;
  height: 110px;
}

.video__icon img {
  display: block;
  width: 70px;
  height: auto;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  z-index: 100;
}

.video__icon::after {
  display: block;
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 40%;
  z-index: 1;
  background-color: #4b4b4b;
}

.video__title {
  padding: 50px 0 20px 0;
}

.video__text {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 200;
  margin-bottom: 30px;
}

.video__time {
  color: #c7b299;
  font-size: 14px;
  font-weight: 500;
}

.mobile .mobile__inner {
  letter-spacing: 0.5px;
  padding-top: 80px;
}

.mobile__phone img {
  display: block;
  width: 100%;
  height: auto;
}

.mobile__title {
  font-size: 30px;
  font-weight: 700;
  padding-top: 120px;
  padding-bottom: 30px;
  color: #555555;
}

.mobile__text {
  line-height: 1.8;
  color: #8c8c8c;
}

.mobile__list {
  padding-top: 30px;
  color: #8c8c8c;
}

.mobile__list li {
  font-size: 16px;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile__list li i {
  margin-right: 18px;
  font-size: 18px;
  color: #c7b299;
}

@media (max-width: 1200px) {
  .mobile__title {
    font-size: 30px;
    font-weight: 700;
    padding-top: 0px;
    padding-bottom: 30px;
    color: #555555;
  }
}

@media (max-width: 992px) {
  .mobile .mobile__inner {
    padding-bottom: 80px;
  }
  .mobile__phone {
    display: none;
  }
}

.statistic {
  background-color: #2e221d;
  padding: 75px 0 70px 0;
}

.statistic .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.statistic__count {
  font-weight: 400;
  font-size: 45px;
  color: #fff;
  padding-top: 15px;
}

.statistic__name {
  font-size: 14px;
  text-transform: uppercase;
  color: #c7b299;
  padding-bottom: 30px;
}

.statistic .statistic__item {
  text-align: center;
  margin-bottom: 30px;
}

.statistic .statistic__item::after {
  display: block;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.posts {
  text-align: center;
  padding-bottom: 80px;
  /*-------Slider-----*/
}

.posts .slick-list,
.posts .slick-slide,
.posts .slick-track {
  height: 100%;
  width: 100%;
}

.posts .posts__box .slick-prev {
  display: block;
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-130%);
          transform: translateX(-130%);
  z-index: 1;
  color: #c7b299;
  font-size: 22px;
}

.posts .posts__box .slick-next {
  display: block;
  position: absolute;
  bottom: -20px;
  right: 50%;
  -webkit-transform: translateX(130%);
          transform: translateX(130%);
  z-index: 1;
  color: #c7b299;
  font-size: 22px;
}

.posts .slick-arrow {
  border: none;
  font-size: 0;
}

.posts .post {
  text-align: left;
  position: relative;
  border: 1px solid #f8f8f8;
  margin-bottom: 30px;
}

.posts .post__inner {
  padding: 30px;
}

.posts .post__img {
  width: 100%;
  height: auto;
}

.posts .post__title {
  font-size: 20px;
  color: #555555;
}

.posts .post__text {
  padding: 14px 0 16px 0;
  font-size: 14px;
  color: #8c8c8c;
}

.posts .post__btn a {
  font-size: 14px;
  color: #c7b299;
  vertical-align: middle;
}

.posts .post__btn i {
  vertical-align: middle;
  margin-left: 5px;
}

.posts .post .post__date {
  width: 60px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 15px;
  top: 15px;
}

.posts .post .post__date .date {
  border-radius: 5px 5px 0 0;
  font-size: 24px;
  color: #fff;
  background-color: #363636;
  padding: 4px;
}

.posts .post .post__date .month {
  border-radius: 0 0 5px 5px;
  font-size: 12px;
  color: #fff;
  background-color: #252525;
  padding: 5px;
}

.posts .post:hover .post__inner {
  background-color: #362f2d;
}

.posts .post:hover .post__title {
  color: #c7b299;
  font-size: 20px;
}

.posts .post:hover .post__text {
  color: #fff;
}

.posts .post:hover .date {
  background-color: #c7b299;
}

.posts .post:hover .month {
  background-color: #a48d72;
}

.logos {
  padding: 140px 0 110px 0;
  background: url("./img/logosbg.png") no-repeat center;
  background-size: cover;
}

.logos .logos__inner {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logos .logos__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logos .logos__item img {
  display: block;
  width: 60%;
  height: auto;
}

@media (max-width: 1200px) {
  .logos {
    padding: 50px 0 50px 0;
  }
  .logos .logos__item {
    margin: 50px 0;
  }
  .logos .logos__item img {
    display: block;
    width: 60%;
    height: auto;
  }
}

@media (max-width: 992px) {
  .logos {
    padding: 40px 0 50px 0;
  }
  .logos .logos__item {
    margin: 50px 0;
  }
  .logos .logos__item img {
    display: block;
    width: 80%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .logos {
    padding: 80px 0 50px 0;
  }
  .logos .logos__item {
    margin: 50px 0;
  }
  .logos .logos__item img {
    display: block;
    width: 40%;
    height: auto;
  }
}

.footer {
  padding: 20px 0;
  background-color: #191919;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */